logging:
  config: classpath:log4j2-win.xml

spring:
  redis:
    host: 10.41.0.225
    port: 30999
  datasource:
    url: jdbc:mysql://localhost:3306/portaldb?useOldAliasMetadataBehavior=true
    username: root
    password: b3BlbnN0YWNr
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true  
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  cache:
    type: redis
  # redis:
  #   database: 0 #沒設定
  #   sentinel:
  #     master: mymaster
  #     nodes: 172.24.42.52:30102
